:root {
  --color-primary: #6cc6bdff;
  --color-secondary: #60bbaeff;
  --color-tertiary: #54af9eff;
  --color-quaternary: #47a38fff;
  --color-quinary: #3b9780ff;
}

body,
html {
  height: 99%;
  scroll-behavior: smooth;

  background-image: url("https://i.postimg.cc/qRfVJrKk/background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rec {
  position: absolute;
  top: 35%;
  left: 25%;
  width: 800px;
  height: 300px;
  border-radius: 38px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  opacity: 0.7;
  box-shadow: 29px 29px 59px #989898, -29px -29px 59px #ffffff;
}

.title {
  position: absolute;
  margin: auto;
  top: 20%;
  left: 43.5%;
  font-family: "Press Start 2P", cursive;
  font-size: 40px;
  color: #f0f0f0;
  text-shadow: 3px 3px 0 #989898;
}

.text {
  position: absolute;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  font-family: "Arial";
  text-align: center;
  font-size: 20px;
  color: black;
}

.button-voltar {
  position: absolute;
  top: 62%;
  left: 43.5%;
  width: 200px;
  height: 50px;
  border-radius: 15px;
  transition: all 0.25s ease;
  background: #787f58;
  opacity: 0.6;
}

.button-voltar:hover {
  transform: translate(0, -5px) scale(1.05);
  opacity: 1;
}

#botoes {
  text-align: center;
  color: #ffff;
  font-size: 20px;
  font-family: "Arial";
  font-weight: bold;
}
