body {
    margin: 0;
    line-height: normal;
  }
  .v19e-odw7-181218-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    object-fit: cover;
    opacity: 0.75;
  }
  .chronometer-icon {
    position: absolute;
    top: 118px;
    left: 155px;
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  .s-div {
    position: absolute;
    top: 114px;
    left: 215px;
    display: inline-block;
  }
  .nvel-2-div,
  .retngulo-2-div {
    position: absolute;
    left: 1625px;
  }
  .nvel-2-div {
    top: 114px;
    display: inline-block;
  }
  .retngulo-2-div {
    top: 53px;
    border-radius: var(--br-md);
    background-color: var(--color-white);
    width: 109px;
    height: 54px;
  }
  .sair {
    position: absolute;
    top: 61px;
    left: 1650px;
    font-size: var(--font-size-sm);
    display: inline-block;
    font-weight: 900;
    font-family: var(--font-saira);
    color: var(--color-blue);
  }
  .glass-container-icon,
  .paper-recycle-icon,
  .plastic-bin-icon {
    position: absolute;
    top: 265px;
    left: 461px;
    width: 333px;
    height: 333px;
    object-fit: cover;
  }
  .glass-container-icon,
  .paper-recycle-icon {
    left: 794px;
  }
  .paper-recycle-icon {
    left: 128px;
  }
  .pontos-0-div {
    position: absolute;
    top: 43px;
    left: 155px;
    display: inline-block;
  }
  .retngulo-2-button,
  .sair-button {
    cursor: pointer;
    padding: 0;
    position: absolute;
  }
  .retngulo-2-button {
    border: 2px solid var(--color-blue);
    background-color: var(--color-white);
    top: 53px;
    left: 1625px;
    border-radius: var(--br-md);
    box-sizing: border-box;
    width: 109px;
    height: 54px;
  }
  .sair-button {
    border: 0;
    background-color: transparent;
    top: 57px;
    left: 1650px;
    font-size: var(--font-size-sm);
    display: inline-block;
    font-style: italic;
    font-weight: 900;
    font-family: var(--font-saira);
    color: var(--color-blue);
    text-align: left;
  }
  .retngulo-3-div {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    width: 912px;
    height: 228px;
  }
  .retngulo-4-div,
  .retngulo-4-div1 {
    position: absolute;
    top: 27px;
    left: 43px;
    background-color: var(--color-black);
    width: 45px;
    height: 174px;
  }
  .retngulo-4-div1 {
    left: 108px;
  }
  .retngulo-4-div2,
  .retngulo-4-div3,
  .retngulo-4-div4,
  .retngulo-4-div5,
  .retngulo-4-div6,
  .retngulo-4-div7 {
    position: absolute;
    top: 27px;
    left: 173px;
    background-color: var(--color-black);
    width: 45px;
    height: 174px;
  }
  .retngulo-4-div3,
  .retngulo-4-div4,
  .retngulo-4-div5,
  .retngulo-4-div6,
  .retngulo-4-div7 {
    left: 238px;
  }
  .retngulo-4-div4,
  .retngulo-4-div5,
  .retngulo-4-div6,
  .retngulo-4-div7 {
    left: 303px;
  }
  .retngulo-4-div5,
  .retngulo-4-div6,
  .retngulo-4-div7 {
    left: 368px;
  }
  .retngulo-4-div6,
  .retngulo-4-div7 {
    left: 433px;
  }
  .retngulo-4-div7 {
    left: 498px;
  }
  .retngulo-4-div10,
  .retngulo-4-div11,
  .retngulo-4-div12,
  .retngulo-4-div8,
  .retngulo-4-div9 {
    position: absolute;
    top: 27px;
    left: 563px;
    background-color: var(--color-black);
    width: 45px;
    height: 174px;
  }
  .retngulo-4-div10,
  .retngulo-4-div11,
  .retngulo-4-div12,
  .retngulo-4-div9 {
    left: 628px;
  }
  .retngulo-4-div10,
  .retngulo-4-div11,
  .retngulo-4-div12 {
    left: 693px;
  }
  .retngulo-4-div11,
  .retngulo-4-div12 {
    left: 758px;
  }
  .retngulo-4-div12 {
    left: 823px;
  }
  .grupo-1-div {
    position: absolute;
    top: 828px;
    left: 504px;
    width: 912px;
    height: 228px;
  }
  .battery-icon,
  .garbage-can-icon,
  .plastic-bag-icon {
    position: absolute;
    top: 890px;
    left: 581px;
    width: 105px;
    height: 105px;
    object-fit: cover;
  }
  .battery-icon,
  .garbage-can-icon {
    top: 265px;
    left: 1127px;
    width: 333px;
    height: 333px;
  }
  .battery-icon {
    left: 1460px;
  }
  .heart-icon,
  .heart-icon1,
  .heart-icon2 {
    position: absolute;
    top: 108px;
    left: 314px;
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
  .heart-icon1,
  .heart-icon2 {
    left: 394px;
  }
  .heart-icon2 {
    left: 474px;
  }
  .nivel-2-div {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1080px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  